@import "../../global.scss";

.navbar {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffcc33;
  color: white;

  .wrapper1 {
    padding: 10px 30px;
    display: flex;
    @include mobile {
      flex-direction: column;
    }
    .left {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      @include mobile {
        margin: 1rem 0;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        -webkit-text-fill-color: #ffcc33;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 2px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      color: #343433;
      .itemContainer {
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .wrapper2 {
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    @include mobile {
      display: none;
    }
    .left {
      display: flex;
      align-items: center;
      position: relative;

      #line {
        width: 300px;
        border: 1px dashed #333;
        margin-right: 10rem;
      }
      #lineHead {
        position: absolute;
        right: calc(100% - 305px);
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #333;
      }
    }
    .right {
      display: flex;
      align-items: center;

      a {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #333;
        border: 2px solid #333;
        margin-right: 1rem;
        &:hover {
          border: 2px solid white;
        }
      }
    }
  }
}
