@import "../global.scss";

.about-container {
  display: flex;
  align-items: center;
  .about-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
    @include mobile {
      padding: 35rem 0 10rem 0;
      display: block;
    }
  }
}

p {
  padding: 10px 30px;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 200;
  @include mobile {
    font-size: 15px;
  }
  .first {
    display: inline;
    font-size: 30px;
    font-weight: 400;
    background: -webkit-linear-gradient(#fbd786, #f7797d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
