@import "../global.scss";

.skills {
  .skill-title {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      margin-top: 1rem;
    }
    h1 {
      padding: 4rem 2rem;
      font-size: 45px;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-color: #333;
      -webkit-text-stroke-width: 2px;
      @include mobile {
        font-size: 25px;
        padding: 1rem;
      }
    }
    .border {
      width: 70%;
      border-bottom: 3px dashed #ffcc33;
    }
  }
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .skill-box {
      padding: 10rem;
      color: #343433;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 60%;
      @include mobile {
        grid-template-columns: repeat(4, 1fr);
        padding: 1rem;
      }
      .skill {
        font-size: 60px;
        padding: 1rem 0;
        justify-self: center;
        @include mobile {
          font-size: 50px;
        }
      }
    }
  }
}
